<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Jetty WebSocket Chat</title>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="chat_style.css">
</head>
<body onload="init();">
<div id="body">
    <div id="menu">
        <p class="welcome">
            <!--Welcome, <input id="username" value="anonymous"/>-->
            Welcome, <p id="user">${username}</p>
        </p>
    </div>

    <div id="chatbox">
        <textarea id="messages" rows="20" cols="50" readonly="readonly"></textarea>
    </div>

    <form name="message" action="">
        <input name="usermsg" type="text" id="message" size="40"/>
        <input type="button" name="submitmsg" value="Send..." onclick="sendMessage();"/>
    </form>
</div>
</body>
</html>