<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logging | Web-service </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div class="greeting">
    <p>This is simple web-service that is developing for educational purpose and is used to
        make life of some people much easier!</p>
</div>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/logging" method="post">
            <input type="text" name="login" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="login" placeholder="login"/>
            <p class="message">Not registered? <a href="register.html" target="_self">Create a profile</a></p>
        </form>
    </div>
</div>
</body>

</html>